:root{
    --mainColor--:#7bb4a6;
    --secColor--:#2a6964;
    --iconColor--:#c2f0f2;
    --folderBorder--:#dae0ad;
    --windowColor--:#9acbd0;
    --windowHeader--:#3c6f73;
    --headerTextColor--:#f5f5f5;
    --openedFile--:#f5f5f5;
    --minimize--:#0c3b68;
    --maximize--:#1e67aa;
    --closeFolder--:#90b3dc;
    --openedFileName--:#3a3a3a;
    --closedFileName--: #3e3e3ec7;
    --openedFolderName--: #f5f5f5;
    --closedFolderName--: #3a3a3a;
    --textColor--:#3a3a3a
}
*{
    box-sizing: border-box;
}
body{
    font-family: cursive;
    overflow: hidden;
}
section{position: absolute;width: 100%;}

/* --------------------------- */
/* Starter Page */
.starter{
    /*background-color: #47777b;*/
    background: url(../img/header/layered-waves-haikei.svg) no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    top: 0;
    transition: all 1.5s;
    cursor: pointer;
    z-index: 1;
    /*display: none;*/
}
.starter-header{position: relative;flex-basis: 200px;}
/*
.starter-header-shape {
    width: 100%;
    height: 100px;
    position: absolute;
    box-shadow: 0 0 5px 2px #333;
}
.starter-header-shape.shape1{
    background: #36716c;
    top: 0;
    z-index: 3;
}
.starter-header-shape.shape2{
    background: #a0ced3;
    top: 30px;
    z-index: 2;
}
.starter-header-shape.shape3{
    background: #86b7ad;
    top: 60px;
    z-index: 1;
}
*/
.starter-footer{
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 30px;
    color: var(--openedFolderName--);
}
.starter-footer-datetime{
    font-size: 40px;
    flex: 1 1 400px;
}
.starter-footer-datetime-time{
    color: var(--openedFolderName--);
    font-size: 90px;
    margin-bottom: 20px;
}
.starter-footer-icons{
    display: flex;
    flex: 0 1 240px;
    justify-content: space-between;
    align-items: center;
    font-size: 40px;
}
.starter-footer-icons-datetime{
    font-size: 14px;
    font-weight: 700;
    line-height: 1.6em;
}
.starter-footer-icons-time{font-size: 18px;}
.starter-footer-icons-wifi{position: relative;}
.starter-footer-icons-wifi span.wifi-status{
    position: absolute;
    display: block;
    opacity: 0;
    background: #f5f5f5;
    height: 20px;
    width: 70px;
    border-radius: 8px;
    top: -25px;
    left: -5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    transition: all 0.3s;
}
.starter-footer-icons-wifi:hover span.wifi-status {opacity: 1;}
/* Sign In Section */
section.sign{
    height: 100vh;
    background-color: #47777b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: top 1.5s;
    z-index: 2;
}
section.sign .return{
    position: absolute;
    left: 40px;
    top: 40px;
    font-size: 2em;
    font-weight: 500;
    color: #f5f5f5;
    cursor: pointer;
}
.sign-photo{
    width: 220px;
    border-radius: 50%;
    border: 20px solid #9ecbd0;
    /*outline: 8px solid #7eb4ab;*/
    position: relative;
    box-shadow: 0 0 5px 1px #333;
}

.sign-photo::before {
    content: "";
    position: absolute;
    border: 8px solid #7ab6a7;
    border-radius: 50%;
    z-index: 2;
    display: block;
    width: calc(100% + 30px);
    height: calc(100% + 30px);
    top: -23px;
    left: -23px;
    z-index: 4;
    box-shadow: 0 0 5px 1px #333;
}
.sign-photo::after {
    content: "";
    position: absolute;
    border: 8px solid #316867;
    border-radius: 50%;
    z-index: 2;
    display: block;
    width: calc(100% + 45px);
    height: calc(100% + 45px);
    top: -30px;
    left: -30px;
    box-shadow: 0 0 5px 1px #333a;
    z-index: 3;
}

.sign-photo img{width: 100%;height: 100%;border-radius: 50%;}
.sign-username h2{font-size: 2.4em;color: var(--openedFileName--);}

form.sign-form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.form-input-div{
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 10px;
}

.form-input-div input {
    padding: 0px 5px;
    height: 40px;
    margin: 10px 0px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #3a3a3a;
    font-size: 1.2em;
    color: #3a3a3a;
    position: relative;
    z-index: 1;
}

.form-input-div span.border {
    background-color: #9ecbd0;
    position: absolute;
    bottom: 10px;
    width: 0;
    height: 2px;
    transition: 0.9s;
    z-index: 3;
}

.form-input-div input~span.borderL {
    left: 0;
}

.form-input-div input:focus~span.borderL {
    width: 100%;
}

.form-input-div label {
    position: absolute;
    left: 5px;
    top: 20px;
    color: #3a3a3a;
    font-size: 1.2em;
    font-weight: bold;
    z-index: 0;
    transition: all 0.4s ease-in-out;
    border: 0;
}

.form-input-div input:focus+label {
    left: 0px;
    top: -15px;
    z-index: 1;
    font-size: 1.2em;
    color: #3a3a3a;
}

.has-data label {
    left: 0px;
    top: -15px;
    z-index: 1;
    font-size: 1.2em;
    color: #3a3a3a;
}
/*.input-div-pass{
    padding: 10px 40px 10px 10px;
    background-color: #f5f5f5;
    outline: none;
    border: none;
    color: #333a;
}
*/
.form-input-div .showpass{
    position: absolute;
    right: 10px;
    color: #3a3a3a;
    cursor: pointer;
    z-index: 999999;
}

.sign-form-buttons{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    text-align: center;
}
.sign-form-buttons > .button{
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1.2em;
    background-color: #9ecbd0;
    color: #3a3a3a;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
}
.button span {
    position: relative;
    z-index: 1;
}

.button:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.2;
    clip-path: circle(0 at center);
    transition: 0.3s ease-out;
}

.button:hover:before {
    clip-path: circle(150px at center);
}

/* ShutDown Section 4 */
.shutdown{
    height: 100vh;
    background: url(../img/header/layered-waves-haikei.svg) no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: top 1.5s;
    z-index: 4;
}
.shutdown-message{
    color: var(--openedFolderName--);
    font-size: 3em;
    font-weight: lighter;
}
.shutdown-spinner{
    width: 60px;
    height: 60px;
    background-color: transparent;
    border-radius: 50%;
    border: 10px solid #EEE;
    border-left: 10px solid #333c;
    animation: spinner1 0.9s infinite linear;
    margin-bottom: 20px;
}
@keyframes spinner1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.shutdown-text{
    color: var(--openedFolderName--);
    font-size: 1.4em;
    font-weight: lighter;
}