:root{
    --mainColor--:#7bb4a6;
    --secColor--:#2a6964;
    --iconColor--:#c2f0f2;
    --folderBorder--:#dae0ad;
    --windowColor--:#9acbd0;
    --windowHeader--:#3c6f73;
    --headerTextColor--:#f5f5f5;
    --openedFile--:#f5f5f5;
    --minimize--:#0c3b68;
    --maximize--:#1e67aa;
    --closeFolder--:#90b3dc;
    --openedFileName--:#3a3a3a;
    --closedFileName--: #3e3e3ec7;
    --openedFolderName--: #f5f5f5;
    --closedFolderName--: #3a3a3a;
    --textColor--:#3a3a3a
}
::selection {
    color: #3a3a3a;
    background: #ffcc65;
}
*{
    box-sizing: border-box;
}
html{scroll-behavior: smooth;}
body{
    font-family: cursive;
    overflow-x: hidden;
    background-color: #47777b;
}
section{height: 100vh;min-width: 100%;background-size: cover;}
a{text-decoration: none;}

/* --------------------------- */
/* Starter Page */
.starter{
    /*background-color: #47777b;*/
    background: url(../img/header/layered-waves-haikei.svg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: all 1.5s;
    cursor: pointer;
    z-index: 1;
    
    /*display: none;*/
}
.starter-header{position: relative;flex-basis: 200px;}
/*
.starter-header-shape {
    width: 100%;
    height: 100px;
    position: absolute;
    box-shadow: 0 0 5px 2px #333;
}
.starter-header-shape.shape1{
    background: #36716c;
    top: 0;
    z-index: 3;
}
.starter-header-shape.shape2{
    background: #a0ced3;
    top: 30px;
    z-index: 2;
}
.starter-header-shape.shape3{
    background: #86b7ad;
    top: 60px;
    z-index: 1;
}
*/
a.dblclick-area{
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
}
.dblclick{
    position: absolute;
    color: #333;
    background-color: #86b7ad;
    padding: 5px;
    font-size: 15px;
    border-radius: 10px;
    display: none;
}
.dblclick i{padding-right: 5px;color: #36716c;}
.starter-footer{
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 30px;
    color: var(--openedFolderName--);
}
.starter-footer-datetime{
    font-size: 40px;
    flex: 1 1 400px;
}
.starter-footer-datetime-time{
    color: var(--openedFolderName--);
    font-size: 90px;
    margin-bottom: 20px;
}
.footer-icons{
    display: flex;
    flex: 0 1 240px;
    justify-content: space-between;
    align-items: center;
    font-size: 40px;
    color: #f5f5f5;
}
.footer-icons-datetime{
    font-size: 14px;
    font-weight: 700;
    line-height: 1.6em;
}
.footer-icons-time{font-size: 18px;}
.footer-icons-wifi{position: relative;}
.footer-icons-wifi span.wifi-status{
    position: absolute;
    display: block;
    opacity: 0;
    background: #f5f5f5;
    height: 20px;
    width: 70px;
    border-radius: 8px;
    top: -25px;
    left: -12px;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    transition: all 0.3s;
}
/* Sign In Section */
section.sign{
    position:relative;
    height: 100vh;
    background-color: #47777b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: top 1.5s;
}
section.sign .return{
    position: absolute;
    left: 40px;
    top: 40px;
    font-size: 2em;
    font-weight: 500;
    color: #f5f5f5;
    cursor: pointer;
}
.sign-photo{
    width: 220px;
    border-radius: 50%;
    border: 20px solid #9ecbd0;
    /*outline: 8px solid #7eb4ab;*/
    position: relative;
    box-shadow: 0 0 5px 1px #333;
}

.sign-photo::before {
    content: "";
    position: absolute;
    border: 8px solid #7ab6a7;
    border-radius: 50%;
    z-index: 2;
    display: block;
    width: calc(100% + 30px);
    height: calc(100% + 30px);
    top: -23px;
    left: -23px;
    z-index: 4;
    box-shadow: 0 0 5px 1px #333;
}
.sign-photo::after {
    content: "";
    position: absolute;
    border: 8px solid #316867;
    border-radius: 50%;
    z-index: 2;
    display: block;
    width: calc(100% + 45px);
    height: calc(100% + 45px);
    top: -30px;
    left: -30px;
    box-shadow: 0 0 5px 1px #333a;
    z-index: 3;
}

.sign-photo img{width: 100%;height: 100%;border-radius: 50%;}
.sign-username h2{font-size: 2.4em;color: var(--openedFileName--);}

form.sign-form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.form-input-div{
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 10px;
}

.form-input-div input {
    padding: 0px 5px;
    height: 40px;
    margin: 10px 0px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #3a3a3a;
    font-size: 1.2em;
    color: #3a3a3a;
    position: relative;
    z-index: 1;
}

.form-input-div span.border {
    background-color: #9ecbd0;
    position: absolute;
    bottom: 10px;
    width: 0;
    height: 2px;
    transition: 0.9s;
    z-index: 3;
}

.form-input-div input~span.borderL {
    left: 0;
}

.form-input-div input:focus~span.borderL {
    width: 100%;
}

.form-input-div label {
    position: absolute;
    left: 5px;
    top: 20px;
    color: #3a3a3a;
    font-size: 1.2em;
    font-weight: bold;
    z-index: 0;
    transition: all 0.4s ease-in-out;
    border: 0;
}

.form-input-div input:focus+label {
    left: 0px;
    top: -15px;
    z-index: 1;
    font-size: 1.2em;
    color: #3a3a3a;
}

.has-data label {
    left: 0px;
    top: -15px;
    z-index: 1;
    font-size: 1.2em;
    color: #3a3a3a;
}
/*.input-div-pass{
    padding: 10px 40px 10px 10px;
    background-color: #f5f5f5;
    outline: none;
    border: none;
    color: #333a;
}
*/
.form-input-div .showpass{
    position: absolute;
    right: 10px;
    color: #3a3a3a;
    cursor: pointer;
    z-index: 999999;
}

.sign-form-buttons{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    text-align: center;
}
.sign-form-buttons > .button{
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1.2em;
    background-color: #9ecbd0;
    color: #3a3a3a;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
}
.button span {
    position: relative;
    z-index: 1;
}

.button:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.2;
    clip-path: circle(0 at center);
    transition: 0.3s ease-out;
}

.button:hover:before {
    clip-path: circle(150px at center);
}

/* Main Section 3 */
section.main{
    background-image: url(../img/header/main-section-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid; /* Try Using Grid */
    /*taskbar:ts,folders-container:fc,folders-preview:fp*/
    grid-template-areas:
        "fc . . . . . . . . . . ."
        "fc . fp fp fp fp fp fp fp fp fp ."
        "fc . fp fp fp fp fp fp fp fp fp ."
        "fc . fp fp fp fp fp fp fp fp fp ."
        "fc . fp fp fp fp fp fp fp fp fp ."
        "fc . fp fp fp fp fp fp fp fp fp ."
        "fc . fp fp fp fp fp fp fp fp fp ."
        "fc . fp fp fp fp fp fp fp fp fp ."
        "fc . fp fp fp fp fp fp fp fp fp ."
        "fc . fp fp fp fp fp fp fp fp fp ."
        "fc . . . . . . . . . . ."
        "ts ts ts ts ts ts ts ts ts ts ts ts";
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 10px;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.folders-container{
    grid-area: fc;
}
ul.folders-list{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    list-style: none;
    padding: 0 15px;
    margin: 0;
}
ul.folders-list li{
    cursor: pointer;
    padding: 20px 0 0;
    text-align: center;
    
}
ul.folders-list li i{
    font-size: 50px;
    color: #47777b;
    text-shadow: 0px 1px 0px orange;
}
ul.folders-list li span{
    display: block;
    padding: 10px 0;
    color: #333;
    font-size: 18px;
    transition: color 0.2s ease-in-out;
}
ul.folders-list li:hover span {
    color: #f5f5f5;
}
ul.folders-list li.active span {
    color: #f5f5f5;
}
/* Preview */
.folder-preview{
    grid-area: fp;
    margin: 40px 15px 0;
}
.windows{
    position: relative;
    width: 100%;
    height: 100%;
}
.window{
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    background-color: #9ecbd0;
    padding-inline: 15px;
    box-shadow: 1px 1px 5px 1px #333333AA;
    border-radius: 10px 10px 8px 8px;
    transition: all 0.3s;
}
.window-level-1 {
    position: absolute;
    z-index: 10;
}
.window-level-2{
    position: absolute;
    top: -30px;
    left: 250px;
    width: 92%;
    height: 92%;
    z-index: 20;
}
.window-level-3{
    position: absolute;
    top: 150px;
    left: -10px;
    width: 88%;
    height: 88%;
    z-index: 30;
}
.window-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: -15px;
    padding: 15px;
    border-bottom: 2px solid #f5f5f5;
    background-color: #316867;
    box-shadow: 0px 1px 5px -2px #333333AA;
    border-radius: 8px 8px 0px 0px;
    cursor: move;
}

.window-header-name {
    padding: 5px 30px;
    font-size: 20px;
    color: #f5f5f5;
    margin: 0;
    background-color: #333;
    border: 2px solid #f5f5f5;
}
/*
.window-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}
.window-overlay-1{
    z-index: 9;
}
.window-overlay-2 {
    z-index: 19;
}
.window-overlay-3 {
    z-index: 29;
}
*/
/* Folders Preview*/

/* Skills Preview */
.skills-preview{
    width: 100%;
    height: 100%;
}


.window-header-close-icon{
    font-size: 24px;
    color: #f5f5f5;
    cursor: pointer;
}
.window-content{
    flex:1;
    overflow-y: auto;
    margin-right: -15px;
}
.folders-files-list{
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.folder-file-list-item{
    text-align: center;
    cursor: pointer;
    margin: 10px;
}
.folder-file-list-item i{
    font-size: 40px;
    color: #333;
}
.folder-file-list-item.active i {
    color: #f5f5f5;
}
.folder-file-list-item-name{
    display: block;
    margin: 10px 0;
    color: #333;
}



/* Taskbar Style */
.taskbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: ts;
    background-color: #36716c;
    padding: 0 15px;
    z-index: 100;
}

.win {
    position: relative;
}

.win .win-icon {
    cursor: pointer;
}

.win .win-icon i {
    font-size: 45px;
    transform: perspective(100px) rotateY(145deg) scale(1.2);
    color: #F5F5F5;
}

.win .win-list {
    position: absolute;
    list-style: none;
    left: 0;
    bottom: 29px;
    z-index: 10;
    background-color: darkgray;
    color: #333;
    padding: 5px 0 0;
    text-align: start;
    width: 200px;
    font-size: 20px;
    display: none;
    transition: all 0.3s ease-in-out;
}

.win .win-list.show {
    display: block;
}

.win .win-list li {
    cursor: pointer;
    border-bottom: 1px solid #333;
    padding: 10px 15px;
    transition: color 0.2s ease;
}

.win .win-list li:hover {
    color: #f5f5f5;
}

.win .win-list li:last-of-type {
    border-bottom: none;
}

.win .win-list li span {
    margin-left: 15px;
}

.taskbar .status {
    width: 200px;
}

.taskbar .status .footer-icons {
    font-size: 24px;
}

.taskbar-popup {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.taskbar-popup .overlay {
    background-color: #33333342;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.taskbar-popup .overlay .popup-container {
    padding: 20px;
    background-color: darkgray;
    color: #333;
    box-shadow: 3px 3px 5px 2px #3334;
    border: 5px solid #333a;
}

.popup-container .action {
    margin: 20px 0;
    padding: 20px 0 0;
}

.popup-container .action a {
    padding: 5px 20px;
    font-size: 20px;
    background-color: #47777b;
    color: #333;
    margin: 0 30px;
    cursor: pointer;
}

.popup-container .action a:hover {
    color: #f5f5f5;
}
/*
######################################
######################################
######################################
*/
/* ShutDown Section 4 */
.shutdownsec{
    height: 100vh;
    background: url(../img/header/layered-waves-haikei.svg) no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.8s;
}
.shutdown-message{
    color: var(--openedFolderName--);
    font-size: 3em;
    font-weight: lighter;
}
.shutdown-spinner{
    width: 60px;
    height: 60px;
    background-color: transparent;
    border-radius: 50%;
    border: 10px solid #EEE;
    border-left: 10px solid #333c;
    animation: spinner1 0.9s infinite linear;
    margin-bottom: 20px;
}
@keyframes spinner1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.shutdown-text{
    color: var(--openedFolderName--);
    font-size: 1.4em;
    font-weight: lighter;
}


/* Lock Section */
.lock{
    background-color: #000;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    display: none;
}
.lock-icon a {
    color: #333;
    cursor: pointer;
    transition: color 0.2s ease-in;
}
.lock-icon a i{
    font-size: 12em;
}
.lock-icon a:hover i{
    color: #FFF;
}

/**/
.none {
    display: none;
}